In [2]:
import seaborn as sns
df = sns.load_dataset('car_crashes')
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

**Task 1:** Convert the names of numeric variables in the car_crashes data to uppercase and add the prefix "NUM" using the list comprehension structure.

In [3]:
df.info()

# Expected result:
"""
["NUM_TOTAL",
 "NUM_SPEEDING",
 "NUM_ALCOHOL",
 "NUM_NOT_DISTRACTED",
 "NUM_NO_PREVIOUS",
 "NUM_INS_PREMIUM",
 "NUM_INS_LOSSES",
 "ABBREV",]
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [9]:
columns = ["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]
print(columns)

['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED', 'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV']

**Task 2:** Using the list comprehension structure, append "FLAG" to the names of variables in the car_crashes data that do not contain the word "no" in their names.

In [12]:
# Expected result:
"""
["TOTAL_FLAG",
 "SPEEDING_FLAG",
 "ALCOHOL_FLAG",
 "NOT_DISTRACTED",
 "NO_PREVIOUS",
 "INS_PREMIUM_FLAG",
 "INS_LOSSES_FLAG",
 "ABBREV_FLAG",]
 """

columns2 = [col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns]
print(columns2)

['TOTAL_FLAG', 'SPEEDING_FLAG', 'ALCOHOL_FLAG', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM_FLAG', 'INS_LOSSES_FLAG', 'ABBREV_FLAG']

**Task 3:** Using the list comprehension structure, select the variable names that are different from the ones given below and create a new dataframe.

In [18]:
og_list = ["abbrev", "no_previous"]

new_cols = [col for col in df.columns if col not in og_list]
df[new_cols].head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63