
**Task 1:** Examine the data structures of the given values.

In [3]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"Name": "Jake",
     "Age": 27,
     "Address": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [4]:
type(x)
print(f" --> {x} is of type {type(x)}")

type(y)
print(f" --> {y} is of type {type(y)}")

type(z)
print(f" --> {z} is of type {type(z)}")

type(a)
print(f" --> {a} is of type {type(a)}")

type(b)
print(f" --> {b} is of type {type(b)}")

type(c)
print(f" --> {c} is of type {type(c)}")

type(l)
print(f" --> {l} is of type {type(l)}")

type(d)
print(f" --> {d} is of type {type(d)}")

type(t)
print(f" --> {t} is of type {type(t)}")

type(s)
print(f" --> {s} is of type {type(s)}")

 --> 8 is of type <class 'int'>
 --> 3.2 is of type <class 'float'>
 --> (18+8j) is of type <class 'complex'>
 --> Hello World is of type <class 'str'>
 --> True is of type <class 'bool'>
 --> False is of type <class 'bool'>
 --> [1, 2, 3, 4] is of type <class 'list'>
 --> {'Name': 'Jake', 'Age': 27, 'Address': 'Downtown'} is of type <class 'dict'>
 --> ('Machine Learning', 'Data Science') is of type <class 'tuple'>
 --> {'Data Science', 'Machine Learning', 'Python'} is of type <class 'set'>

**Task 2:** Convert all the letters in the given string expression to uppercase. Replace commas and periods with spaces, separate word by word.

In [5]:
text = "The goal is to turn data into information, and information into insight."

# Expected result
# ['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [25]:
result = []
disallowed_characters = [",", "."]

for word in text.split():
    if disallowed_characters[0] or disallowed_characters[1] in word:
        word = word.replace(disallowed_characters[0], "").replace(disallowed_characters[1], "")
        result.append(word.upper())
    else:
        result.append(word.upper())

print(f" --> {result}")

 --> ['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

**Task 3:** Apply the following steps to the given list.

In [34]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

# Step 1: Examine the number of elements in the given list.
print(f" --> {len(lst)}")

# Step 2: Retrieve the elements at the zeroth and tenth indexes.
print(f" --> {lst[0]}, {lst[10]}")

# Step 3: Create a list ["D", "A", "T", "A"] from the given list.
print(f" --> {lst[0:4]}")

# Step 4: Delete the element at the eighth index.
lst.pop(8)
print(f" --> {lst}")

# Step 5: Add a new element.
lst.append("Q")
print(f" --> {lst}")

# Step 6: Add the element "N" again at the eighth index.
lst.insert(8, "N")
print(f" --> {lst}")

 --> 11
 --> D, E
 --> ['D', 'A', 'T', 'A']
 --> ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']
 --> ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'Q']
 --> ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'Q']

**Task 4:** Apply the following steps to the given dictionary structure.

In [4]:
dict = {'Christian': ['America', 18],
        'Daisy': ['England', 12],
        'Antonio': ['Spain', 22],
        'Dante': ['Italy', 25]}

In [5]:
# Step 1: Access the key values.
print(f" --> {dict.keys()}")

# Step 2: Access the values.
print(f" --> {dict.values()}")

# Step 3: Update the value of the key "Daisy" to 13 instead of 12.
dict["Daisy"][1] = 13

# Step 4: Add a new entry with the key "Ahmet" and the value ["Turkey", 24].
dict["Ahmet"] = ["Turkey", 24]
print(f" --> {dict}")

# Step 5: Remove "Antonio" from the dictionary.
dict.pop("Antonio")
print(f" --> {dict}")

 --> dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
 --> dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
 --> {'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}
 --> {'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

**Task 5:** Write a function that takes a list as an argument, separates the odd and even numbers in the list into separate lists, and returns these lists.

In [6]:
l = [2, 13, 18, 93, 22]

def func(lst):
    even_list = []
    odd_list = []
    for i in lst:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list

print(f" --> {func(l)}")

 --> ([2, 18, 22], [13, 93])

**Task 6:** The names of the students who ranked in the top positions in the engineering and medical faculties are listed below. The first three students represent the ranking of the engineering faculty, while the last three students represent the ranking of the medical faculty. Using enumerate, print the student ranks for each faculty.

In [9]:
students = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]
 
"""
Expected result:

Mühendislik Fakültesi 1. Öğrenci: Ali
Mühendislik Fakültesi 2. Öğrenci: Veli
Mühendislik Fakültesi 3. Öğrenci: Ayşe
Tıp Fakültesi 1. Öğrenci: Talat
Tıp Fakültesi 2. Öğrenci: Zeynep
Tıp Fakültesi 3. Öğrenci: Ece
"""

'Mühendislik Fakültesi 1. Öğrenci: Ali\nMühendislik Fakültesi 2. Öğrenci: Veli\nMühendislik Fakültesi 3. Öğrenci: Ayşe\nTıp Fakültesi 1. Öğrenci: Talat\nTıp Fakültesi 2. Öğrenci: Zeynep\nTıp Fakültesi 3. Öğrenci: Ece'

In [10]:
for index, student in enumerate(students):
    if index < 3:
        print(f"Mühendislik Fakültesi {index + 1}. Öğrenci: {student}")
    else:
        print(f"Tıp Fakültesi {index - 2}. Öğrenci: {student}")

Mühendislik Fakültesi 1. Öğrenci: Ali
Mühendislik Fakültesi 2. Öğrenci: Veli
Mühendislik Fakültesi 3. Öğrenci: Ayşe
Tıp Fakültesi 1. Öğrenci: Talat
Tıp Fakültesi 2. Öğrenci: Zeynep
Tıp Fakültesi 3. Öğrenci: Ece

**Task 7:** Below are 3 lists containing the code, credits, and quota information of a course respectively. Using zip, print the course information.

In [1]:
lesson_codes = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
credits = [3, 4, 2, 4]
quotas = [30, 75, 150, 25]

"""
Expected result:

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.
"""

'\nExpected result:\n\nKredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.\nKredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.\nKredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.\nKredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.\n'

In [4]:
lessons = zip(lesson_codes, credits, quotas)

for index, lesson in enumerate(lessons):
    print(f"Kredisi {credits[index]} olan {lesson_codes[index]} kodlu dersin kontenjanı {quotas[index]} kişidir.")

<zip object at 0x0000024D3B245740>
Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

**Task 8:** Below, there are 2 sets provided. You are asked to define a function that will check if the first set includes the second set. If it does, the function should return the common elements; if it doesn't, the function should return the elements in the second set that are not present in the first set.

In [1]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

# Excepted result:
# {'function', 'qcut', 'lambda', 'miuul'}

In [2]:
def kumeler(kume1, kume2):
    bool = kume1.issuperset(kume2)
    if bool == True:
        return kume1.intersection(kume2)
    else:
        return kume2.difference(kume1)
    
print(f" --> {kumeler(kume1, kume2)}")

 --> {'qcut', 'function', 'lambda', 'miuul'}